
:root {

  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #FFFFFF;
  --background: #222629;
  --backgroundaccent: #293137;
  --primary: #86c232;
  --secondary: #474b4f;
  --accent: #61892f;
}
body{
  background-color: #222629;
}

.nav-color{
  background-color: #293137;
}

.nav-link:hover{
  color: var(--primary) !important;
}

.btn.no-top-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.caro-img{
  max-height: 50vh;
  object-fit: cover;
  width: 100%;
}

.caption-bottom-right {
  right: 0 !important;
  left: auto !important;
  bottom: 0 !important;
  text-align: right !important;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 50%;
}

.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.card {
  transition: all 0.3s ease-in-out;
}